@font-face {
    font-family: "JosefinSans-Light";
    src: url(fonts/JosefinSans-Light.ttf);
}

@font-face {
    font-family: "JosefinSans-Medium";
    src: url(fonts/JosefinSans-Medium.ttf);
}

@font-face {
    font-family: "ZillaSlab-Medium";
    src: url(fonts/ZillaSlab-Medium.ttf);
}

@font-face {
    font-family: "NEONLEDLight";
    src: url(fonts/NEONLEDLight.ttf);
}

body{
    margin:auto;
    background-color: rgb(5, 5, 5);
    color: white;
}

/* -------- En-tête -------- */

header #fond_bleu{
    background-color: black;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: solid white 5px;
}

header #fond_bleu p{
    margin-left: 30px;
    font-size: 45px;
    font-family:"NEONLEDLight", sans-serif;
    text-transform: uppercase;
    color: white;
    
}

header #fond_image{
    height: 320px;
    background-image: url(images/21-219010_java-code.jpg);
    background-position: left -400px;
}

#header nav{
    background-color: black;
    border-top: white 2px solid;
    border-bottom: white 2px solid;
    height: 60px
}

#header nav ul{
    height: 100%;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}

#header nav li{
    align-self: center;
}

#header nav a{
    text-decoration: none;
    margin: 0px 40px 0px;
    color: white;
    font-family: 'Lucida Console', sans-serif;
    font-size: 15px;
}

#header nav a:hover{
    color: red;
}

/* ------- Ensemble des pages ------- */

#contenu_page{
    margin: 40px 30px 0px;
    padding: 20px 30px 30px;
}

.bordure{
    --Taillebordure: 4px;
    position: relative;
    background-color: black;
    border-top-left-radius: var(--Taillebordure);
    border-top-right-radius: var(--Taillebordure);
}

.bordure:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--Taillebordure));
    left: calc(-1 * var(--Taillebordure));
    height: calc(100% + var(--Taillebordure) * 2);
    width: calc(100% + var(--Taillebordure) * 2);
    background: linear-gradient(
        60deg,red, orange, yellow, green, blue, indigo, purple);
    z-index: -1;
    border-top-left-radius: calc(2 * var(--Taillebordure));
    border-top-right-radius: calc(2 * var(--Taillebordure));
    animation: bordureanime 2s ease alternate infinite;
    background-size: 300% 300%;
}

@keyframes bordureanime {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#contenu_page p{
    font-family: "JosefinSans-Medium", sans-serif;
}

#contenu_page a{
    color: red;
    text-decoration: none;
}

#contenu_page a:hover{
    text-decoration: underline;
}

h1, h2, h3{
    font-family: "JosefinSans-Light", sans-serif;
}

label {
    font-family: "JosefinSans-Medium", sans-serif;
}

label p{
    margin: 2px;
}

input{
    color: white;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid white;
    background-color: black;
    border-radius: 5px;
    font-family: "JosefinSans-Medium", sans-serif;
}

textarea{
    color: white;
    width: 100%;
    height: 100px;
    padding: 5px;
    margin-bottom: 20px;
    border: 2px solid white;;
    border-radius: 5px;
    background-color: black;
    font-family: "JosefinSans-Medium", sans-serif;
    resize: none;
}

textarea::placeholder{
    padding: 5px;
}

select{
    color: white;
    border: 2px solid rgb(150, 150, 150);
    background-color: black;
    font-family: "JosefinSans-Medium", sans-serif;
    border-radius: 5px;
    height: 30px;
    padding: 5px;
    text-align: center;
    vertical-align: center;
}

button{
    color: white;
    border: 2px solid rgb(150, 150, 150);
    background-color: black;
    border-radius: 5px;
    font-family: "JosefinSans-Medium", sans-serif;
    height: 30px;
}

button:hover{
    color:black;
    background-color: white;
    border: white 2px solid;
}

/* -------- Page 1 -------- */

#accueil_contenu h1{
    border-bottom: solid 4px #C34444;
}

#accueil_contenu h2{
    border-bottom: solid 4px #8851F5;
}

#accueil_contenu .image{
    text-align: center;
}

#accueil_contenu .image img{
    width: 400px;
    height: 267px;
}

#accueil_contenu .image p{
    margin-top: 2px;
    font-size: 13px;
    font-family: sans-serif;
    color: #C8C8C8;
    text-shadow: black 2px;
}

/* -------- Page 2 -------- */ 

#page h1 { 
    border-bottom: solid 4px #C34444; 
}

#page h2 { 
    border-bottom: solid 4px #8851F5;
} 

#page h3 { 
    border-bottom: solid 4px #18bb3c; 
} 

#page table {
    border-collapse : collapse; 
    border : 2px solid white;
    font-family: "JosefinSans-Medium", sans-serif; 
} 

#page td {
    border : 1px solid white; 
    padding: 7px;
} 

#plus {
    color : green; 
    font-weight: bold;
}

#moyen {
    color : orange; 
    font-weight: bold;
} 

#peu {
    color : red; 
    font-weight: bold;
} 

/* -------- Page 3 -------- */ 

#personne1, #personne2 { 
    background-color : #403584;  
    border-radius : 30px 30px 30px 30px; 
    margin-left : 5px; 
    width : 450px;  
    height : 300px;  
    margin-top : 0px; 
} 

#personne1 h2, #personne2 h2 {
    border-bottom : solid 0px black; 
    margin-bottom : 0px; 
    margin-left : 10px; 
    font-size : 25px; 

} 

#personne1 h3, #personne2 h3 {
    border-bottom : solid 0px black; 
    font-size : 10px; 
    margin-bottom : 0px; 
} 

#personne1 #titre, #personne2 #titre { 
    display  : flex; 
} 

#personne1 img, #personne2 img { 
    width : 200px; 
    margin-left : 10px; 

} 

#personne1 #contenu, #personne2 #contenu {
    display : flex; 
    flex-direction : column; 
} 

#personne1 #contenu img, #personne2 #contenu img { 
    width : 50px;  
    margin-top : 10px; 
    margin-left : 10px; 
}

#personne1 cite, #personne2 cite {
    margin-bottom : 10px;  
    text-align : center; 
} 


#personne2 {
    margin-left : 60%; 
} 

#contenu_note {
    display : flex; 
}

#contenu_page3 {
    display : flex; 
} 

#tableau { 
    display : flex;
}

#tableau p { 
    margin-top : 0px; 
    text-align : center; 
}

#tableaufleche { 
    display : flex; 
    flex-direction : column;  
}

#tableaufleche p { 
    text-align : left; 
}
#premierecase {
    background-color : #584CE3; 
    width : 300px;  
} 

#premierecase p { 
    margin-top : 30px; 
}

#ingenieur {
    background-color : rgb(28, 204, 28); 
    width : 200px; 
    height : 80px; 
} 

#ingenieur p { 
    margin-top : 0px; 
}

#masterinformatique { 
    background-color : rgb(9, 148, 9); 
    height  : 80px; 
} 

#deuxsemalternance {
    background-color : rgb(28, 204, 28); 
    width : 300px;  
    height : 80px; 
} 

#deuxsemalternance p { 
    margin-top : 0px; 
}

#presentiels { 
    background-color : rgb(9, 148, 9); 
    width : 150px; 
    height  : 80px; 
} 

#alternance1 { 
    background-color : rgb(28, 204, 28); 
    width : 300px;  
    height : 80px; 
} 

#alternance2 { 
    background-color : rgb(9, 148, 9); 
    width : 300px;  
    height : 80px; 
} 

#deuxsemstage { 
    background-color : rgb(9, 148, 9); 
    width : 150px;   
    height : 80px; 
} 

#deuxsempresentiels { 
    display : flex; 
}

/* -------- Page 4 -------- */

#case1, #case2{
    border: 2px white solid;
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: flex-start;
    color: white;
}

#case1 .nom, #case2 .nom{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 6px;
}

#case1 .fonction_actuelle, #case2 .fonction_actuelle{
    font-style: italic;
    font-size: 12px;
    font-family: "ZillaSlab-Medium", sans-serif;
}

#pp{
    margin-right: 20px;
    width: 125px;
    height: 125px;
    border: 6px white solid;
    border-radius: 100%;
}

#case1 img, #case2 img{
    width: 125px;
    height: 125px;
    border-radius: 100%;
}

/* -------- Page 5 -------- */

#square{
    border: white 2px solid;
    border-radius: 7px;
    padding: 2px 8px 2px;
    font-family: "JosefinSans-Medium", sans-serif;;
}

#square > p {
    font-weight: bold;
}

/* -------- Page 6 -------- */ 

#formulaire { 
    display : flex;
    flex-direction: row; 
} 

.texte { 
    margin-right : 50px; 
}

#contact { 
    margin-top : 0px; 
    margin-left : 50px; 
    text-align : justify; 
    margin-right : 3px; 
} 

#email {
    margin-top : 5px; 
    flex-direction : column; 
}

#message { 
    margin-top : 5px; 
    padding-top : 0px; 
}

/* -------- Bas de page -------- */ 

footer{
    border-top: solid white 5px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#footer_texte {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#footer_texte ul{
    padding: 0px 10px 0px;
    display: flex;
    list-style-type: none;
    flex-direction: row;
}

#footer_texte li{
    margin: 0px 10px 0px;
}

#footer_texte li a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#footer_texte li a:hover{
    color: red;
}

#footer_texte p{
    padding: 0px 20px 0px;
    color: white;
    font-size: 14px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#footer_images img{
    margin: 0px 10px 0px;
}

#footer_images img:nth-child(1){
    width:200px;
    height:116px;
}

#footer_images img:nth-child(2){
    width:100px;
    height:115px;
}